/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Montserrat', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.border-bottom {
  border-bottom: 1px solid black;
  margin-top: 1rem;
}

.container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-template-columns: 1;
  font-family: "Big Shoulders Display", cursive;
  background: #9db2a9;
}
header {
  height: 5rem;
  display: flex;
  padding: 0 1.25rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  color: #9db2a9;
  background: white;
}

header h1 {
  margin: 0;
}

header ul {
  list-style: none;
  display: flex;
}

header ul a {
  display: block;
  padding: 10px;
  color: #9db2a9;
  margin-right: 2rem;
  text-decoration: none;
}
.active {
  color: black;
}

main {
  background: white;
}
main h2 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #9db2a9;
}

main img {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.container h2 {
  text-align: center;
}

.container p {
  display: block;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.container h3 {
  margin-left: 1%;
}
.grid-item-1 h1 {
  text-align: center;
}

.grid-item-2 .grid-item-3 .grid-item-4 .grid-item-5 {
  border-bottom: 2px solid black;
}

.grid-item-1 .grid-item-2 .grid-item-3 .grid-item-4 h1 {
  text-align: center;
  color: black;
}

.grid-item-1 .grid-item-2 .grid-item-3 .grid-item-4 p .hidden {
  margin-bottom: 1rem;
}

.container h4 {
  color: white;
  margin-left: 1%;
}

.grid-item-1 .grid-item-2 .grid-item-3 .grid-item-4 .hidden {
  font-size: 1em;
  color: white;
}

.grid-item-2 .grid-item-3 .grid-item-4 .grid-item-5 img {
  margin-left: 1em;
  width: 2em;
  height: 2em;
}

.container button {
  margin: auto;
  display: block;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: rgb(248, 248, 248);
  border: 1px solid black;
  color: black;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1em;
  border-radius: 5%;
  font-family: "Montserrat", sans-serif;
}
.container a {
  text-decoration: none;
}

.container button:hover {
  color: white;
  background: black;
}
.container h1 {
  margin: 5%;
  font-size: 1.5em;
}
/* css till om mig sidan */

.om-mig {
  grid-column: 1/3;
}
span p {
  line-height: 2em;
  padding: 2em;
}
img.me {
  display: block;
  margin: auto;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
/* css till om mig slut */

/* css till kontakt sidan */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  background: #9db2a9;
}
.contact-form {
  display: block;
  margin: auto;
  text-align: center;
  background: #a8a19e;
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  background: #9db2a9;
}

/* Inmatnings anmärkning */
label {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 0.85em;
  margin: 1em;
  font-family: "Montserrat", sans-serif;
}

/* Mail området */
input[type="email"] {
  margin-left: 2%;
  width: 60%;
  height: 1.9rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}
/* text medelandet */
input[type="text"],
textarea {
  margin-left: 2%;
  width: 60%;
  height: 12.5rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: #000;
  resize: none;
}

/* Knappen */
input[type="submit"] {
  display: block;
  text-align: center;
  width: 7.5rem;
  height: 3rem;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 3rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* placeholder färgen */
textarea::placeholder {
  color: #000;
}
.linkedin {
  font-size: 3em;
  margin-top: 20% 20%;
  margin: auto;
  color: black;
}

.phone {
  padding: 2%;
  font-size: 1.5em;
}
footer {
  display: block;
  text-align: center;
  background: #545669;
  font-family: "Montserrat", sans-serif;
  color: #ecf4ec;
}

/* css till kontakt sidan slut */

@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: 50% 50%;
  }

  header {
    grid-column: 1/3;
    font-size: 1.5em;
  }

  main {
    grid-column: 1/3;
  }

  .grid-item-1 {
    grid-column: 1/3;
  }

  .grid-item-2 {
    grid-column: 1/2;
  }

  .grid-item-3 {
    grid-column: 2/3;
  }

  .grid-item-2 {
    border-bottom: 0;
  }
  .grid-item-3 {
    border-bottom: 0;
  }

  .grid-item-6 {
    border-right: 1px solid black;
  }

  .grid-item-7 button {
    margin-top: 2rem;
  }
  .footer {
    grid-column: 1/3;
  }
  /* css hem slut */

  /* css om mig */
  .grid-container {
    grid-column: 1/3;
  }
  /* css om mig slut */

  /* kontakt sidan */

  .grid-item {
    grid-column: 1/3;
    width: 800px;
  }

  .contact-form {
    display: flex;
    /* margin-left: 2%; */
    width: 90%;
  }

  label {
    display: flex;
    margin-left: 1.2em;
    font-size: 1em;
  }
  input[type="email"] {
    display: flex;
    margin-left: 2%;
  }
  input[type="text"],
  textarea {
    display: flex;
    margin-left: 2%;
    width: 90%;
  }
  input[type="submit"] {
    font-size: 0.7em;
    display: flex;
    margin-left: 3%;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 2%;
  }
  /* kontakt sidan slut */
}
